<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 30/05/2016
 * Time: 21:46
 */
// @codingStandardsIgnoreFile
/** @var \Magenest\StripePayment\Block\Adminhtml\Order\View\Info\Charge $block */
$data = $block->getChargeId();
?>

<table class="data-table admin__table-secondary">
    <tbody>

    <?php if ($data) {
        if ($data['type'] == 'charge') { ?>
        <tr>
            <td>Stripe Charge ID</td>
            <td><?php echo $data['id'];?></td>
        </tr>
    <?php }
    } ?>
    </tbody>
</table>
