<style>
    #apple-pay-button {
        background-color: black;
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-size: 100% 100%;
        background-origin: content-box;
        background-repeat: no-repeat;
        width: 100%;
        height: 44px;
        padding: 10px 0;
        border-radius: 10px;
    }
</style>

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <div class="payment-method" id="payment_section" style="width: 200px;" data-bind="css: {'_active': (getCode() == isChecked())}, visible: isPlaceOrderActionAllowed(), template: {afterRender: function(data, event) { requestPayment($parent, data, event) }}">

                </div>

                <!--<button class="action primary checkout"-->
                        <!--type="submit"-->
                        <!--data-bind="attr: {title: $t('Continue')}, css: {disabled: !isPlaceOrderActionAllowed()}, enable: (getCode() == isChecked()) "-->
                        <!--disabled>-->
                    <!--<span data-bind="i18n: 'Place Order'"></span>-->
                <!--</button>-->
            </div>
        </div>
    </div>
</div>


