<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko if: (hasCard && isSave)-->
        <select name="payment[credit_card_name]" class="select"
                data-bind="attr: {id: getCode() + '-card-id', 'data-container': getCode() + '-card-id'},
                                mageInit: {creditCardType:{creditCardTypeContainer:'#' + getCode() + '-cc-type-ss-div'}},
                                enable: true,
                                options: addOption(getCode() + '-card-id'),
                                ">
        </select>
        <!-- /ko -->

        <div class="field" data-bind="attr: {id: getCode() + '-form-div'}">
            <hr>
            <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
                <!-- ko template: 'Magenest_StripePayment/payment/cc-form' --><!-- /ko -->
            </form>
            <!-- ko if: (isSave && window.magenest.stripe.isLogin)-->
            <div class="control">
                <input type="checkbox"
                       name="payment[save]"
                       value="1"
                       class="checkbox"
                       id = 'stripe-save'/>
                <label class="label" for="stripe-save">
                    <span><!-- ko text: $t('Save your card ?')--><!-- /ko --></span>
                </label>
            </div>
            <!-- /ko -->
        </div>
        <p data-bind="html: getInstructions()"></p>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: createToken,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
