<?php

?>

<div>
    <h2 style="font-weight: bold;">
        <a target="_blank" href="http://magenest.com/">Magenest Stripe Payment Gateway</a>
    </h2>
    Version: <?= $block->getVersion() ?>
    <p>
        Need support:
        <a target="_blank" href="http://servicedesk.izysync.com/servicedesk/customer/portal/22"><?= __('Submit a ticket') ?></a>
        <br>
        Contact us:
        <a target="_blank" href="mailto:support@magenest.com"><?= __('support@magenest.com') ?></a>
    </p>
</div>